/* light blue 0399ff
  orange: ff9904
 */

/* type styles */
body {
  margin: 0px;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: black;
  /* background: linear-gradient(#8AECF0, transparent 90%),
              linear-gradient(0deg, #fff, transparent),
              no repeat; */

}
main{
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 1000px;
}
img{
  max-width: 100%;
}

/* footer styles */
footer {
  margin-top: 20px;
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
  background-color: tomato;
}
footer .copyright {
  top: 8px;
  margin-right: 20px;
  font-size: .75em;
  color: black;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer ul li {
  display: inline-block;
  transition: 0.25s;
}
footer ul li:hover{
    transform: scale(1.2) rotate(10deg);
}
/* link styles */
.link{
  text-decoration: none;
  list-style-type: none;
  color:#0399ff;
}
/* social link Styles */
.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 0.7;
  transition: all .25s;
}
.social:hover {
  opacity: 1;
}
.twitter {
  background-image: url("images/twitter.jpg");
  border-radius: 15px;
}
.linkedin {
  background-image: url("images/linkedin.jpg");
  border-radius: 15px;
}
.github {
  background-image: url("images/github.jpg");
  border-radius: 15px;
}
.instagram {
  background-image: url("images/instagram.jpg");
  border-radius: 15px;
}
/* nav Styles */
nav {
  width: 100%;
  background: black;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
}
nav li{
  float: left;
}
#logo {
  width: 25px;
  height: 25px;
  transition: all 1s;
}
#logo:hover{
  transform: scale(1.5) rotate(180deg);
}
nav a {
  display: block;
  transition: all .5s;
  text-decoration: none;
  color:white;
  text-align: center;
  font-size: 1em;
}
nav a:hover{
  transform: scale(1.1);
  color: darkgrey;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* class styles */

.card {
  display:inline-block;
  margin-bottom: 10px;
  padding: 5px 20px;
  max-width: 800px;
  min-width: 200px;
  text-align: center;
  border-bottom: 4px solid #ccc;
  border-right: 4px solid #ccc;
  border-radius: 10px;
  transition: 0.25s;
  background: linear-gradient(#8AECF0, transparent 90%),
              linear-gradient(0deg, #fff, transparent);
}
.card:hover {
  border-color: #8AECF0;
}

/*
/* Styles for larger screens
@media screen and (max-width: 720px) {

  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
  }

  .nav {
    min-width: 500px;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

} */
